<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/icons.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
</head>

<body>
  
  
    <div class = "fixed-row">
    <div class="grid-container">
    <nav>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
    <ul>
      <li>Home</li>
    </ul>
  </nav>
  </div>
</div>

  <div class = "grid-container-main">
  <main>
    <article>
      <% resultArray.forEach(item => { %>
      <div>
        <img src=<%=item.image_url %>>
        <h2>
          <%= item.title %>
        </h2>
        <p>
          <%= item.author %>
        </p>
      </div>
      <% }) %>
    </article>

  </main>
  </div>
</body>

</html>