<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>


<body class="container">
    <%- include('../../layout/header') %>

  <main class="main">

      <%- include('detail') %>

    <div class="footer"></div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type='text/javascript'>  
  $('.add').click(function(){
    $('.hidden').toggle();
  });
  $('.addBook').click(function(){
    $('.hiddenForm').toggle();
  })

  </script>

  <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>