<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
</head>

<body>
  <nav>
    <div class="burger-menu">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul>
      <li>Home</li>
    </ul>
  </nav>
  <main>
    <article>
      <% resultArray.forEach(item => { %>
      <div>
        <img src=<%=item.image_url %>>
        <h2>
          <%= item.title %>
        </h2>
        <p>
          <%= item.author %>
        </p>
      </div>
      <% }) %>
    </article>
  </main>
</body>

</html>