<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
</head>

<body>
  <nav>
    <ul>
      <li>Home</li>
      <li>Search Books on Google Books</li>
    </ul>
  </nav>
  <main>

  </main>
</body>

</html>