@font-face{
    font-family: "icomoon";
    src: url("fonts/icomoon.eot");
    src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"),
    url("fonts/icomoon.woff") format("fonts/icomoon.ttf") format("truetype"),
    url("fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    min-height: 100vh;
    background-color: #EAE7DC;
}

main {
    flex: 2;
    padding: 20px;
  }
  
  nav {
    background-color: #e98074;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    
  }
  


  a, button{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }


  #detail-toggle{
    display: none;
  }

 #form-toggle{
    display: none;
  }

@media only screen and (min-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }
    .toggle{
      display: none;
    }


}
@media only screen and (max-width: 599px){


  #nav-bar {
    transition: transform .3s ease-in-out;
    top: 0;
    bottom: 0;   
    position: fixed;
    width: 300px;
    right: -340px;
  }

  #nav-bar:target {     
    transform: translateX(-340px);
  }

  .close {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 3em;
    position: relative;
    top: -30px;
  }

.open {
  text-align: left;
}

}