<header role="banner" class="aside">
        <i class="fa fa-bars">Menu</i>
        <i class="fa fa-home">Home</i>
        <i class="fa fa-search">Search</i>
      <a class="toggle open" href="#nav-bar" title="">
        <span>Home</span>
        <span class=" icon-menu"></span>
      </a>
    </header>
    <nav id="nav-bar" role="navigation">
      <a class="toggle close" href="#">x</a>
      <ul>
        <li>Bookshelf</li>
        <li>Menu</li>
        <li>Search</li>
  
      </ul>
    </nav>